//Variables
$theme1: #e0e0e0;
$theme2: #ffffff;
$fontsize: 18px;
$wall: #016efd;

//Neomorphism
$lg1 : #f0f0f0;
$lg2 :#cacaca;
$bs1 : #bebebe;
$bs2 :  #ffffff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $theme1 !important;
}

.board{
    width: 40vw;
    height: 40vw;
    background-color: $theme2;
    border-radius: 25px;
    background: linear-gradient(145deg,$lg1,$lg2);
    box-shadow:  25px 25px 50px $bs1, -25px -25px 50px $bs2;
    overflow: hidden;
}

//bOARD===============================================
.unit{
    background-color: $theme2;
    border-radius: 2px;
    border: 0.1px outset #84abff;
    &:hover{
        transform: scale(1.1);
        transition: 200ms;
    }
}

.restore{
    background: $theme2;
}

.target{
    background:#262626;
}

.wall{
    background:#016efd;
}

.screen{
    display: flex;
    flex-wrap: wrap;
}

.animate{
    animation: appear 1s;
    background-color: #f4fd9e;
}

@keyframes appear{
    0%{opacity: 0.5;transform: scale(0); border-radius: 50%;}
    30%{opacity: 0.75;background-color: #ffeb35; }
    100%{opacity: 1;background-color: #00ff95;transform: scale(1); border-radius: 0px;}
}

.path{
    background: #ff9393;
}

//=====================================================

.control{
    width: 40vw;
    height: 40vw;
    border-radius: 25px;
    background: $theme1;
    box-shadow: inset 25px 25px 50px $bs1,inset -25px -25px 50px $bs2;
}

.footer{
    color:#ffffff;
}

.screen{
    width: 38vw;
    height: 38vw;
    border-radius: 10px;
}

.title{
    border-radius: 20px;
    background: linear-gradient(145deg, $lg2, $lg1);
    box-shadow:  11px 11px 27px #c5c5c5,-11px -11px 27px #fbfbfb;
}

.card{
    opacity: 0.75;
    &:hover{
        box-shadow: 5px 5px 20px #3b3b3b;
        opacity: 1;
        transition: 300ms;
    }
}

//Social Wrap
.fa{
    &:hover{
        transform: rotate(360deg);
        transition: 1s;
    }
}

.fa-youtube-play{
    &:hover{
        color: #ff5555;
    }
}

.fa-linkedin-square{
    &:hover{
        color: #2ea9fa;
    }
}

.fa-instagram{
    border-radius: 10px;
    &:hover{
        background-image:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
}


//Media Query
@import 'media'




