@media screen and (max-width: 992px) {
    .board, .control{
        width: 75vw;
        height: 75vw;
    }

    .screen{
        width: 70vw;
        height: 70vw;
    }
}

@media screen and (max-width: 520px) {
    .control{
        border-radius: 0px;
        background: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 340px) {
    .card-grp{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .card-grp{
        margin-top: 30px;
    }
    .icon {
        margin-top: 100px;
      }
}